/* Loader.module.css */

.spinnerContainer {
  position: relative;
  display: inline-block;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3); /* Adjust the border color and width */
  border-top: 4px solid #3498db; /* Adjust the spinner color */
  border-radius: 50%;
  width: 7rem; /* Adjust the spinner size */
  height: 7rem; /* Adjust the spinner size */
  animation: spin 1s linear infinite;
}

.image {
  z-index: 100;
  position: static;
  max-width: 4rem;
  max-height: 4rem;
  display: block;
  border-radius: 8px; /* Adjust the border-radius for the image */
  /* animation: antispin 1s linear infinite; */
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes antispin {
  to {
    transform: rotate(-360deg);
  }
}
