/* Loader.module.css */

.box {
    --border-size: 5px;
    --border-radius: 5px;
    --border-angle: 0turn;
    width: 24vmin;
    height: 24vmin;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, white);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    animation: bg-spin 3s linear infinite;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  .box:hover {
    animation-play-state: paused;
  }
  
  .image {
    padding-left: 2vmin;
    padding-top: 2vmin;
    width: 20vmin;
    height: 20vmin;
  }
  